/* App.css (or any other appropriate CSS file) */
.rooms-header{
width: 100%;
text-align: center;
  color: #01579B;
}

.rooms-container {
  max-width: 800px;
  margin: 0 auto;

}

.rooms-header {
  font-size: 36px;
  font-weight: bold;

}
.rooms-sub-header {
  text-align: center;
  font-size: 18px;
  margin:5px;

}

.rooms-list {
  list-style: none;
  padding: 0;
}


.room-link {
  margin: 20px 20px;
  display: block;
margin-bottom: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.room-link:hover {
  background-color: #E1F5FE;
}

.room-link-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-info-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.card-info-div h3, .card-info-div h5{
margin: 10px;
}
 .card-info-div h3{
color: #01579B;
}
.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}
.search-bar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  outline: none;
  border: 2px solid #f0f0f0;
  padding: 8px;

}